<?xml version="1.0"?>
<config>
    <modules>
        <Shopname_Theme>
            <version>1.0.0</version>
        </Shopname_Theme>
    </modules>
    <global>
        <resources>
            <shopname_theme_setup>
                <setup>
                    <module>Shopname_Theme</module>
                </setup>
            </shopname_theme_setup>
        </resources>
    </global>
</config>